/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== COLORES ==========*/
    /* Change favorite color */
    /* --first-color:hsl(var(--hue-color), 78%, 58%); with 0 */
    /* --first-color:hsl(var(--hue-color), 69%, 61%); */
    /* --first-color:#E74040;  otro  #dd3535 */
    --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL modo de color */
    --first-color:#f73535;
    --primary-color-degraded:#f81313;
    --primary-color: #f73535;
    --skills-color:hsl(var(--hue-color), 40%, 75%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 929%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 30%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color),12%,90%);
    --scroll-thumb-color: hsl(var(--hue-color),12%,80%);
    --logo-color:#161414;
    --title-color-red:#fff;
    --about-bc:#fbf9fc;
    --color-service:#e42828;
    --color-navlink:#f6f4f4;
    --color-change-theme:#f6f4f4;
    --change-hover:#ecf8ff;
    --skills-color:#fff;
    --skills-bg:#f6f3fa;
    

    /*========== FUENTE Y TIPOGRAFIA ==========*/
    --body-font:'Poppins', sans-serif; ;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --maxbig-font-size:2.4rem;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size:.81rem ;
    --link-font-size: .875rem;
    --subtitle-font-size: 1rem;

    /*========== TAMAÑO DE FUENTE ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== MARGENES BOTTOM ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75:.75rem ;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== Z INDEX ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* FUENTES PARA PANTALLA GRANDE */
@media screen and (min-width: 1024px) {
    :root {
        --maxbig-font-size:3.25rem;
        --big-font-size: 2.8rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.35rem;
        --normal-font-size: 1rem;
        --small-font-size:.90rem ;
        --smaller-font-size: .813rem;
        --link-font-size: 1rem;
        --subtitle-font-size: 1.25rem;
    }
}

/*========== VARIABLE EN DARK LIGHT ==========*/
body.dark-theme{
    /* HSL color mode */
    
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 80%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --skills-color: hsl(var(--hue-color), 32%, 25%);
    --body-color: hsl(230, 28%, 12%);
    --container-color: hsl(var(--hue-color), 24%, 16%);
    --scroll-bar-color: hsl(var(--hue-color),12%,48%);
    --scroll-thumb-color: hsl(var(--hue-color),12%,36%);
    --logo-color:#f6f4f4;
    --title-color-red: #f6f4f4;
    --about-bc:transparent;
    --color-service:#fff;
    --color-navlink:#f6f4f4;
    --color-change-theme:#f6f4f4;
    --change-hover:#031F31;
    --skills-color:hsl(var(--hue-color), 24%, 20%);
    --skills-bg:#f6f3fa;
    --skills-bg:background-color:rgba(73, 73, 73, 0.1);

}

/*========== BOTON DARK/LIGHT ==========*/
.nav__btns{
    display: flex;
    align-items: center;
}
.change-theme{
    font-size: 1.25rem;
    color: var(--color-change-theme);
    margin-right: var(--mb-1);
    cursor: pointer;
}
.change-theme:hover{
    color: var(--first-color);
}


/*==================== BASE ====================*/
*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth; /*desplazamiento del cursor con mayor suavidad*/
}
body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}


/*==================== CLASES REUSABLES ====================*/
.section{
    padding: 1rem 0 1rem ;
}
.section2{
    padding: 2rem 0 2rem;
}
.section__inter{
    padding:4rem 0 2rem 0;
}
.section__title{
    font-size: var(--h1-font-size);
    margin-right:1rem;
    margin-left: 1rem;
}
.section__subtitle{
    display: block;
    font-size: var( --subtitle-font-size);
    margin-bottom: var(--mb-3);
    margin-left: .7rem;
    margin-right: .7rem;
}
.section__title,
.section__subtitle{
    text-align: center;
}

/*==================== LAYOUT ====================*/
.container{
    max-width: 768px; 
    margin-left:var(--mb-1-5) ;
    margin-right: var(--mb-1-5);
}
.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: 0.5s;
}
.header-active{
    background-color: var(--body-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

/*==================== NAVEGADOR ====================*/
.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
}
.nav__toggle:hover{
    color: var(--first-color);
}
@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.212);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}
.nav__list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--color-navlink);
    font-weight: var(--font-medium);
}
.nav__link:hover{
    color: var(--first-color);
}

.nav__services{
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
    display: none;
    list-style: none;
    width: 180px;
    background-color: #01021e94;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
}

.nav__services li a{
    display: block;
    color: #f6f4f4;
    padding: .8rem 1rem 1rem 1.2rem;
    text-decoration: none;
    transition: .1s;
    
}
.nav__services li a:hover{
    color: var(--first-color);
}

.nav__list li:hover .nav__services{
    display: block;
}

.nav__icon{
    font-size: 1.2rem; 
}
.nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}
.nav__close:hover{
    color: var(--first-color-alt);
}

.nav__logo--color{
    fill: var(--color-change-theme);
}
.nav__logo:hover{
    fill: var(--primary-color);
}

/* show menu */
.show-menu{
    bottom: 0;

}
/* Active link */
.active-link{
    color: var(--first-color);
}
/* Cambiar el color de las letras del navegador*/
.header-active .nav__link{
    color: var(--logo-color);
}
.header-active .nav__link:hover{
    color: var(--first-color);
}
.header-active .active-link{
    color: var(--first-color);
}
.header-active .change-theme{
    color: var(--logo-color);
}

.header-active .change-theme:hover{
    color: var(--first-color);
}
.header-active .nav__logo--color{
    fill: var(--logo-color);
}
.header-active .nav__services{
    background-color: var(--body-color);
}
.header-active .nav__services li a{
    color: var(--logo-color);
}
.header-active .nav__services li a:hover{
    color: var(--first-color);
}
/* Change background header */
.scroll-header{
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}


/*==================== INICIO ====================*/
.home{
    height: 100vh;
    width: 100%;
    overflow:hidden ;
}
.home__container{
    gap: 1rem; 
    padding-top: 0;
}
.home__content{
    grid-template-columns: 0.5fr 3fr;
    /* padding-top: 3.5rem; */
    align-items: center;
}
.home__img{
    position: relative;
    padding-top: 1.5rem;
    justify-self: center;
    width: 240px;
    height: auto;
  }

  .home__img img{
    position: absolute;
    max-width: 100%;
    height: auto;
  }
  
  .home-img{
    position: absolute;
    height: 100%;
    width: 100%;
    
  }

.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
    
}
.home__social-icon{
    font-size: 1.8rem;
    color: var(--first-color);
}
.home__social-icon:hover{
    color: var(--primary-color-degraded);
}

.home__data{
    grid-column: 1/3;
}
.home__title{
    font-size: var(--maxbig-font-size);
    color: var(--title-color-red);
    font-weight: 700;
}
.home__subtitle{
    font-size:var(--h2-font-size) ;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-top: var(--mb-0-5);
    margin-bottom: var(--mb-0-25);
}
.home__description{
    margin-bottom: var(--mb-2);
    color: #dddddd;
}
.home__scroll{
    display: none;
    text-align: right;
}
.home__scroll-button{
    color: var(--first-color);
    transition: .3s;
}
.home__scroll-button:hover{
    transform: translateY(.25rem);
}
.home__scroll-mouse{
    font-size: 2rem;
}
.home__scroll-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right:var(--mb-0-25) ;

}
.home__scroll-arrow{
    font-size: 1.25rem;
}
  
/*==================== BOTONES ====================*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem;
    font-size: 1rem;
    font-family: var(--body-font);
    border-radius: .5rem;
    border:none;
    font-weight: var(--font-medium);
}
.button:hover{
    background-color: var(--primary-color-degraded);
}
.button__icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}
.button--flex{
    display: inline-flex;
    align-items: center;
}
.button--small{
    padding: .75rem 1rem;
}
.button--link{
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}
.button--link:hover{
    background-color: transparent;
    color:var(--color-service);
}
.button--white{
    background-color: #FFF;
    color: var(--first-color);
}
.button--white:hover{
    background-color: rgb(241, 240, 240);

}

.about__container{
    display: inline-block;
    height: 24rem;
    width: 100%;
    background-color: aquamarine;
    overflow: hidden;
}
/*==================== MEDIA QUERIES ====================*/

/* para dispostivios pequeños */
@media screen and (max-width:350px){

    .nav__menu{
        padding:2rem .5rem 4rem;
    }
    .nav__list{
        column-gap: 0;
    }
    .section{
        padding: 3rem 0 1rem 0;
    }
    .section__title{
        font-size: 1.25rem;
    }
    .section2{
        padding-top: 1rem;
    }
    .section_features{
        padding: 2rem 0 2rem 0;
    }
    .home__container{
        height: 100%;
        margin-bottom: 2rem;
        padding-top: 0.2rem;
    }
    .home__social{
        margin-top: 4rem;
    }
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .home__content{
        grid-template-columns: .25fr 3fr;
        padding: 0;
    }
    .home__img{
        width:180px;
        bottom:0;
    }
    .home__data{
        margin-top: 0;
    }
    .home__title{
        font-size: 1.5rem;
    }
    .home__subtitle{
        margin: 0;
    }
    .home__description{
        margin-bottom: 1rem;
    }
    .advantages__img{
        margin-bottom: 0;
    }
    .project__container{
        padding-top: 1rem;
    }
    .project__img{
        width: 98px;
    }
    .project__description{
        margin:0 0 1rem 0;
    }
    .project .project__banner .project__img{
        width: 140px;
    }
    .skills__title{
        font-size:var(--normal-font-size)
    }
    .qualification__data{
        gap: .5rem;
    }
    
    .services__content{
        padding: 0 2rem 0 2rem;
    }
    
    .services__modal{
        padding: 0.5rem;
    }

    .testimonial__data,
    .testimonial__header{
        flex-direction: column;
        align-items: center;
    }
    .testimonial__img{
        margin-right: 0;
        margin-bottom: var(--mb-0-25);
    }
    .testimonial__data,
    .testimonial__description{
        text-align:center;
    } 
}
@media screen and (min-width:350px){
    
    .home__img{
        margin-bottom: 150px;
    }
    .footer__links{
        grid-gap:1rem;
    }
    .services__content{
        padding: 5rem;
    }
    .project{
        height: 32rem;
    }
    .project__data{
        margin-top: 2rem;
    }
    .project__img{
        width: 160px;
    }
    .benefies .section__title,
    .about .section__title,
    .about__subtitle{
        padding-bottom:.8rem ;
    }
}

